<!doctype html>
<html>
	<body>

		<center>
		<header> <h1> Home </h1> </header>
		<br> <br>
		<h2> This portal records the details of students (Name, Address, State and ZIP)</h2>
		<br>

		<h2><a href = "/enternew">Enter Student Details</a></h2> <br>
		<h2><a href = "/list">Retrive Student Details</a></h2>

		<form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
	      <strong>Files:</strong><br>
    	  <input id="file-picker" type="file" name="file" accept="image/*" multiple>
    	  <div id="msg"></div>
    	  <input type="submit" value="Upload!" id="upload-button">
		</form>
      
	</body>
</html>