<!doctype html>
<html>

   <body>

   <center>
      <h1> Harshini 6563 </h1>
      <header> <h1> This page lists the Student records </h1>
      </header>
      <br> <br>

      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Grade</td>
            <td>Room</td>
            <td>Telnum</td>
            <td>Pic</td>
            <td>Keyword</td>
         </thead>

         {% for row in rows %}
         <tr>
            <td>{{row["name"]}}</td>
            <td>{{row["Grade"]}}</td>
            <td> {{row["Room"]}}</td>
            <td>{{row['Telnum']}}</td>
         <!--    <td>{{row['Pic']}}</td> -->
          
             <!-- <td><img src={{row['completeurl']}} alt="Smiley face"></img></td>  -->
            <!--  <td><img src="http://127.0.0.1:5000/get_image/{{row['Pic']}}" alt="Smiley face"></img></td>  -->
            <td><img src="data:image/jpeg;base64,{{row['Pic']}}" alt="Smiley face"></img></td>
            
           
            <td>{{row['Keyword']}}</td> 	
         </tr>
         {% endfor %}
      </table>
       Enter a GRADE below to find people who have scored less
      <form action="{{url_for('DisplayGrade')}}" method="POST" enctype="multipart/form-data">
         <input type="text" value="" name="DisplayGrade" placeholder="Enter Grade">
         <input type="submit" value="Grade">
      </form>
      Enter Name to display Pictures
      <form action="{{url_for('DisplayPic')}}" method="POST" enctype="multipart/form-data">
         <input type="text" value="" name="DisplayPic" placeholder="Enter Name">
         <input type="submit" value="Search">
         </form>

     
      <br>
      <h2> <a href = "/">Home</a> </h2>
   </center>
   </body>
</html>